<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <br>
  <button (click)="test()">TEST</button>
  <input [(ngModel)]="command">
  <button (click)="test2()">TEST 2</button>
  <button (click)="save()">SAVE COMMAND</button>
</div>